@model ispProject.Models.nursing_care_system_assessment
@using ispProject.Models
@{
    ViewBag.Title = ViewBag.CareSystemTypeName;
}
<div class="panel col-sm-3 tableOfContents">
    <div class="panel-body">
        <div class="underline-Heading">
            <h4>Table of Contents</h4>
        </div>
        <ul>
            <li>
                @Html.ActionLink("Vitals", "../Encounter/UpdateVital", new { id = Model.pca_id })
            </li>
            @foreach (var item in ViewBag.CareSystems) {
                if (item.care_system_assessment_type_id != 1) {
                    if (Model.care_system_assessment_type_id == item.care_system_assessment_type_id) {
                        <li class="bg-success">
                            <a href='@Url.Action("CreateOrEdit", "BodySystems", new { pcaID = Model.pca_id, typeID = item.care_system_assessment_type_id })'>@item.care_system_assessment_type_name</a>
                        </li>
                    }
                    else {
                        <li>
                            <a href='@Url.Action("CreateOrEdit", "BodySystems", new { pcaID = Model.pca_id, typeID = item.care_system_assessment_type_id })'>@item.care_system_assessment_type_name</a>
                        </li>
                    }
                }
            }
            @foreach (var item in ViewBag.PCAComments) {
                if (item.pca_comment_type_id != 1) {
                    <li>
                        <a href='@Url.Action("CreateOrEdit", "PCAComments", new { pcaID = Model.pca_id, typeID = item.pca_comment_type_id })'>@item.pca_comment_type_name</a>
                    </li>
                }
            }
        </ul>
    </div>
</div>
<div class="panel col-sm-8">
    <div class="panel-body">
        <div class="underline-Heading">
            <h2>@Html.DisplayFor(modelItem => modelItem.nursing_care_system_assessment_type.care_system_assessment_type_name) Body System</h2>
        </div>
        @using (Html.BeginForm("Edit", "BodySystems", FormMethod.Post)) {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.care_system_assessment_id)

            <div class="form-horizontal">
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label col-sm-3" for="datetime">Date & Time</label>
                    <div class="col-sm-7">
                        @*<input type="datetime-local" class="form-control" name="datetime" disabled="disabled" required>*@
                        @Html.DisplayFor(modelItem => modelItem.date_care_system_added)
                    </div>
                </div>
                <fieldset class="form-group">
                    @if (Model.wdl_ex != null) {
                        <div class="form-check col-sm-offset-3">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="wdlRadios" id="wdl" value="wdl" @(!(bool)Model.wdl_ex ? "checked" : "")>
                                WDL
                            </label>
                        </div>
                        <div class="form-check col-sm-offset-3">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="wdlRadios" id="wdlEx" value="wdlEx" @((bool)Model.wdl_ex ? "checked" : "")>
                                WDL Ex
                            </label>
                        </div>
                    }
                    else {
                        <div class="form-check col-sm-offset-3">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="wdlRadios" id="wdl" value="wdl">
                                WDL
                            </label>
                        </div>
                        <div class="form-check col-sm-offset-3">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="wdlRadios" id="wdlEx" value="wdlEx">
                                WDL Ex
                            </label>
                        </div>
                    }
                </fieldset>

                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#wdlPainDefinitionsModal">
                    <span class="glyphicon glyphicon-info-sign"></span> WDL Definitions
                </button>
                <div id="wdlPainDefinitionsModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modalDes">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">WDL Definitions</h4>
                            </div>
                            <div class="modal-body">
                                @Html.DisplayFor(modelItem => modelItem.nursing_care_system_assessment_type.wdl_description)
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div><br /><br />
                <div class="form-group">
                    <label class="control-label" for="wdlExceptionInfo">Edit comment</label>
                    <textarea class="form-control col-sm-8" name="wdlExceptionInfo">@Model.care_system_comment</textarea>
                </div>

                <button class="btn btn-success" type="submit" name="formButton" value="Save">Save</button>
                <button class="btn btn-primary" type="submit" name="formButton" value="SaveContinue">Save and Continue</button>
                <button class="btn btn-danger" type="submit" name="formButton" value="Exit">Exit Without Saving</button>

            </div>
        }
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });

</script>